@theme {
  --color-fem-white: #ffffff;
  --color-fem-black: #000000;

  --color-fem-gray-50: #f4f6fa;
  --color-fem-gray-500: #626c7f;

  --color-fem-blue-50: #ebf0ff;
  --color-fem-blue-100: #edf1f9;
  --color-fem-blue-300: #abc1e1;
  --color-fem-blue-500: #306aff;
  --color-fem-blue-850: #3b4d66;
  --color-fem-blue-900: #313e51;
  --color-fem-blue-950: #2d3949;

  --color-fem-green-100: #e0fdef;
  --color-fem-green-500: #2fd887;

  --color-fem-purple-100: #f6e7ff;
  --color-fem-purple-600: #a729f5;

  --color-fem-orange-50: #fff5ed;
  --color-fem-orange-400: #ff7e35;

  --color-fem-red-500: #ee5454;
}
